html {
	font-family: sans-serif;
	font-size: 10px;
}
h1 {
	text-align: center;
	font-size: 4rem;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
input {
	width: 100%;
	font-size: 2rem;
}
.side {
	width: 40%;
}
.row {
	display: flex;
	flex-direction: row;
}
.invisible {
	display: none;
}
section {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.full {
	width: 60%;
}
article {
	display: flex;
	justify-content: center;
	gap: 1%;
	
}