html {
	font-family: sans-serif;
	font-size: 10px;
}
html,
body {
	width: 99%;
	height: 97%;
}

body {
	background: linear-gradient(-45deg, #b9f8f0, #c4ffc9, #00eeff, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
input,
button,
select {
	background: rgba(255, 255, 255, 0.3);
	border-radius: 1rem;
	box-shadow: 3px 3px;
}
select {
	height: 5rem;
	width: 10%;
	font-size: 3rem;
	text-align: center;
}
h1 {
	text-align: center;
	font-size: 4rem;
}
main {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
input {
	width: 100%;
	height: 4rem;
	font-size: 2rem;
}
.side {
	width: 40%;
	height: 100%;
}
.row {
	display: flex;
	flex-direction: row;
}
.invisible {
	display: none;
}
section {
	width: 100%;
	display: flex;
	justify-content: space-around;
}
main,
section {
	margin-top: 5%;
	margin-bottom: 5%;
}
.full {
	width: 60%;
}
article {
	display: flex;
	justify-content: center;
	gap: 1%;
}
article button {
	font-size: 2rem;
	width: 20%;
}
@media only screen and (max-width: 600px) {
	html {
		font-size: 8px;
	}
	article button {
		font-size: 2rem;
		width: 30%;
	}
}
